.welcome-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}



.welcome-popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: #111;
  min-height: 50vh;
  max-width: 25vw;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #d6b33a;
}

@media (max-width: 768px) {
  .welcome-popup-content {
    max-width: 80vw;
  }
}

.welcome-popup-content button {
  width: 200px;
}

.audio-controls {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 1rem;
  cursor: pointer;
  z-index: 100;
}

