/* Import Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=REM:ital,wght@0,400;0,700;1,200&display=swap");

/* Default styles for the root */
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  color: #eee;
  font-family: "REM", sans-serif;
  user-select: none;
  --lazy-blue: #00caf8;
  --lazy-red: #ff2b06;
  --lazy-gold: #d6b33a;
}

p {
  cursor: default;
}

/* Scroll Bar styles for chrome */
::-webkit-scrollbar {
  width: 0.3em;
}

::-webkit-scrollbar-track {
  background-color: #ff2b0611;
}

::-webkit-scrollbar-thumb {
  background-color: #00caf8aa;
  border-radius: 0.5em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00caf8;
}

/* Scroll Bar styles for firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #00caf8aa #ff2b0611;
}

*::-webkit-scrollbar {
  width: 0.3em;
}

a {
  font-family: "Permanent Marker", cursive;
  font-weight: 500;
  color: white;
  text-decoration: inherit;
  transition: all 0.3s ease 0s;
}

a:hover {
  text-shadow: 3px 0px 0px #ff2b06, -3px 0px 0px #00caf8;
  transition: all 0.3s ease 0s;
}

a:active {
  color: white;
  text-shadow: 1.5px 0px 0px #ff2b06, -1.5px 0px 0px #00caf8;
}

/* Top padding for the app */
.app {
  padding-top: 3rem;
}

/* Logo styles */
.logo {
  height: 10em;
  padding: 1.5em;
  will-change: filter, transform;
  transition: filter 300ms, transform 300ms;
}

/* Logo hover animation */
@media (prefers-reduced-motion: no-preference) {
  .logo:hover {
    animation: wobble 1s;
  }
}

.my-lions-empty {
  background-color: #aaa;
  padding: 1.5em;
  will-change: filter, transform;
  transition: filter 300ms, transform 300ms;
}

@media screen and (max-width: 800px) {
  .my-lions-empty {
    border-radius: 0.5rem;
    overflow: hidden;
  }

  .my-lions-empty p {
    font-size: 1.2rem;
  }
}

/* Hamburger menu styles */
.hamburger-menu {
  position: fixed;
  top: 0.25rem;
  right: 0.8rem;
  display: inline-block;
  cursor: pointer;
  z-index: 3;
}

/* Styles for the lines in the hamburger menu */
.hamburger-menu div {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 5px;
}

/* Hamburger menu transition */
.change .bar1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.change .bar2 {
  opacity: 0;
  transform: scale(0);
}

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

/* Overlay styles */
.overlay {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 2;
  cursor: pointer;
}

/* Styles for links in the overlay */
.overlay a {
  padding: 1rem;
  font-size: 1.6rem;
  color: #fff;
  text-decoration: none;
  transition: all 300ms;
}

/* Styles for the main content area */
.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}

.claim {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 1rem; */
}

/* Styles for cards */
.card {
  margin: 1em;
  max-width: 90vw;
  border-radius: 0.5em;
  background-color: black;
  transition: box-shadow 300ms;
}

.mobile-gif-card {
  height: 50vw;
}

@media screen and (min-width: 800px) {
  .card {
    max-width: 40vw;
  }
}

/* Footer styles */
.footer {
  color: #888;
  font-size: 0.8rem;
  /* padding: 1rem; */
}

/* Active styles */
.active {
  color: white;
  text-shadow: 3px 0px 0px #ff2b06, -3px 0px 0px #00caf8;
}

.active:hover {
  text-shadow: 1.5px 0px 0px #ff2b06, -1.5px 0px 0px #00caf8;
}

.active:active {
  text-shadow: 5px 0px 0px #ff2b06, -5px 0px 0px #00caf8;
}

/* Styles for how-to-build-a-butt class */
.how-to-build-a-butt {
  position: absolute;
  left: 0;
  width: 100%;
  max-width: 100%;
}

.header-image {
  position: absolute;
  left: 0;
  width: 100%;
  max-width: 100%;
}

.howto {
  height: 100vw;
}

@media screen and (min-width: 800px) {
  .how-to-build-a-butt {
    position: relative;
    left: auto;
    max-width: 100%;
    border-radius: 0.5em;
  }

  .header-image {
    position: relative;
    left: auto;
    max-width: 50vw;
    border-radius: 0.5em;
  }
}

#three-d-kings-logo {
  position: absolute;
  height: 2em;
  padding: 0;
  will-change: filter, transform;
  transition: filter 300ms, transform 300ms;
  -webkit-filter: drop-shadow(2px 2px 5px #ff2b06);
  filter: drop-shadow(2px 2px 5px #ff2b06);
}

#three-d-kings-logo-overlay {
  height: 2em;
  -webkit-filter: drop-shadow(-2px -2px 5px #00caf8);
  filter: drop-shadow(-2px -2px 5px #00caf8);
  transition: all 0.3s ease-in-out;
}

/* #three-d-kings-target:hover {
  transform: scale(1.1);
  -webkit-filter: drop-shadow(0px 0px 2px #ff00ff55); 
  filter: drop-shadow(0px 0px 2px #ff00ff55);
  cursor: pointer;
} */

#three-d-kings-logo-mobile {
  position: fixed;
  top: 1em;
  left: 1em;
  height: 2em;
  -webkit-filter: drop-shadow(2px 2px 5px #ff2b06);
  filter: drop-shadow(2px 2px 5px #ff2b06);
  cursor: pointer;
}

#three-d-kings-logo-overlay-mobile {
  position: fixed;
  top: 1em;
  left: 1em;
  height: 2em;
  -webkit-filter: drop-shadow(-2px -2px 5px #00caf8);
  filter: drop-shadow(-2px -2px 5px #00caf8);
  cursor: pointer;
}

/* Top navigation styles */
.topnav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: #111;
  padding: 0.8rem;
  z-index: 20;
  border-bottom: 1px solid #888;
}

.topnav-mobile {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: #111;
  padding: 0.8rem 0;
  z-index: 20;
  border-bottom: 1px solid #888;
}

.teamSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #888;
}

/* Team information styles */
.team-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Permanent Marker", cursive;
  color: #555;
}

.team-info a {
  color: #555;
  text-decoration: none;
  transition: all 300ms;
}

.team-info a:hover {
  color: white;
}

.team-members {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Individual team member styles */
.team-member {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5em;
  box-shadow: 0px 0px 5px #333;
  max-width: 200px;
  background-color: #eee;
  min-height: 310px;
  box-shadow: 5px 5px 5px #ff2b06, -5px -5px 5px #00caf8;
  transition: all 300ms ease;
}

/* Team member hover effect */
.team-member:hover {
  box-shadow: -5px -5px 5px #ff2b06, 5px 5px 5px #00caf8;
  transition: all 300ms ease;
}

/* Team member name styles */
.team-member-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

/* Team member role styles */
.team-member-role {
  font-size: 1rem;
  font-weight: bold;
  cursor: default;
}

/* Team member image styles */
.team-member-image {
  width: 100%;
  max-width: 200px;
  border-radius: 0.5em;
  box-shadow: 0px 0px 5px #333;
}

/* Heading styles */
h1,
h2,
h3 {
  font-family: "Permanent Marker", cursive;
  color: #d6b33a;
  cursor: default;
}

/* Paragraph styles */
p {
  font-family: "REM", sans-serif;
}

.marker {
  font-family: "Permanent Marker", cursive;
}

/* Animation keyframes */
@keyframes wobble {
  0%,
  100% {
    transform: rotate(0deg);
  }

  25%,
  75% {
    transform: rotate(2deg);
  }

  50% {
    transform: rotate(-5deg);
  }
}

.claim-area-main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 0.5em;
  box-shadow: 0px 0px 5px #333;
  background-color: #333;
  min-width: 90vw;
  min-height: 600px;
  box-shadow: 5px 5px 5px #ff2b06, -5px -5px 5px #00caf8;
  transition: all 300ms ease;
}

@media screen and (max-width: 800px) {
  .claim {
  }
  .claim-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .claim-area-main {
    min-width: 85%;
    width: 85%;
    padding: 0;
  }
}

.claim-area-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1vw;
  margin: 1rem;
  border-radius: 0.5em;
  box-shadow: 0px 0px 5px #333;
  min-width: 300px;
  width: 33%;
  background-color: #000;
  min-height: calc(600px);
  max-height: calc(600px);
  /* box-shadow: 5px 5px 5px #ff2b06, -5px -5px 5px #00caf8; */
  transition: all 300ms ease;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .claim-area-left {
    min-width: 90%;
    width: 90%;
    padding: 0;
    min-height: 300px;
    height: 500px;
  }
}

.claim-area-left-title {
  font-size: 1.5rem;
  font-weight: bold;
  /* margin-top: 0.5rem; */
  cursor: default;
  color: #333;
}

.claim-area-left-info {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  /* padding: 1rem; */
  /* margin: 1rem; */
  /* border-radius: 0.5em; */
  /* max-width: 200px; */
  background-color: #000;
  min-height: 310px;
  color: black;
}

.my-lions-container {
  background-color: #111;
  border-radius: 0.5em;
  margin: 1rem 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.my-lions {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.my-lion img {
  transition: 0.3s;
  /* Optional: for a smooth transition */
}

.my-lion-image img {
  width: 100%;
  height: auto;
  display: block;
}

.my-lion,
.my-lion-image {
  padding: 0;
  border: none;
  box-sizing: border-box;
}

.my-lion {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem;
  border: 3px solid transparent;
  border-radius: 0.5em;
  max-width: 200px;
  height: 240px;
  background-color: #eee;
  background-color: black;
  color: white;
  cursor: pointer;
  overflow: hidden;
}

.my-lion-image {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: none;
  outline: none;
}

.my-lion.claimed {
  transition: all 300ms ease;
}

.my-lion.claimed:active {
  box-shadow: 0 0 10px #ff2b06aa;
}

/* Slide out animation for the default image */
.my-lion.claimed:hover .default-image {
  transform: translateY(-100%);
  /* Slide it up */
}

/* Slide in animation for the hover image */
.my-lion.claimed:hover .hover-image {
  transform: translateY(-100%);
  /* Slide it to its natural position */
}

/* By default, keep the hover image at the bottom, ready to slide up */
.hover-image {
  transform: translateY(0);
  display: block;
  z-index: 2;
}

.default-image,
.hover-image {
  width: 100%;
  height: auto;
}

.my-lion.claimed:hover .my-lion-image .default-image,
.my-lion.claimed:hover .my-lion-image .hover-image {
  transition: transform 700ms cubic-bezier(0.5, 1.5, 0.3, 1);
}

.my-lion.selected {
  transition: all 300ms ease;
  border: 3px solid #00caf8;
}

@media screen and (max-width: 800px) {
  .my-lions-container {
    margin: 1rem;
    overflow: hidden;
  }
  .empty {
    overflow: hidden;
  }
  .my-lions {
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: scroll;
    width: 200px;
  }
  .my-lion {
    width: 200px;
    min-width: 200px;
  }
}

.card.team-statements p {
  font-style: italic;
}

.card.infographic {
  width: 100%;
}

.card.infographic img {
  width: 80%;
}

.overlay-container {
  display: inline-block;
  /* or block, depending on your need */
  width: 100%;
  /* adjust as needed */
  max-width: 200px;
  /* adjust as needed */
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  /* semi-transparent black */
  color: white;
  padding: 10px;
  /* adjust as needed */
  text-align: center;
  border-radius: 3px;
  /* optional rounded corners */
}

@keyframes imageSlideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.claim-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90vw;
}

.butt-checker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d6b33add;
  margin-top: 10px;
  padding: 0.2rem 1rem;
  border-radius: 0.5em;
  box-shadow: 0 0 3px #d6b33a;
  border: 1px solid #d6b33a;
}

@media screen and (max-width: 800px) {
  .butt-checker {
    max-width: 50vw;
  }
}

.butt-checker input {
  width: 100%;
  max-width: 4rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5em;
  border: 1px solid #d6b33a;
  background-color: #111;
  color: #d6b33a;
  font-family: "Permanent Marker", cursive;
  font-size: 1.2rem;
  text-align: center;
}

.butt-checker-label {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  font-family: "Permanent Marker", cursive;
}

.butt-checker-description {
  font-size: 1rem;
  cursor: default;
  color: #333;
}

.butt-checker-input-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.disclaimer {
  width: 80%;
  background-color: #111;
  padding: 0.5rem;
  border-radius: 0.5em;
  box-shadow: 0 0 3px #d6b33a;
  font-family: "Permanent Marker", cursive;
  font-size: 1.2rem;
  color: #d6b33a;
}

.claim-area-middle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5em;
  box-shadow: 0px 0px 5px #333;
  /* max-width: 200px; */
  min-width: 300px;
  width: 33%;
  background-color: #000;
  min-height: calc(600px - 2rem);
  max-height: calc(600px - 2rem);
  /* box-shadow: 5px 5px 5px #ff2b06, -5px -5px 5px #00caf8; */
  transition: all 300ms ease;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .claim-area-middle {
    min-width: 90%;
    width: 90%;
    padding: 0;
    min-height: 400px;
    height: 400px;
  }
}

.claim-area-middle-title {
  font-size: 1.5rem;
  font-weight: bold;
  /* margin-top: 0.5rem; */
  cursor: default;
  color: #333;
}

.silhouette-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 250px;
  border-radius: 0.5em;
  background-color: #333;
  color: white;
  cursor: pointer;
  z-index: 0;
  box-shadow: 3px 3px 3px #ff2b06, -3px -3px 3px #00caf8;
  overflow: hidden;
}

.silhouette-card.stacked-one {
  position: absolute;
  transform: translate(-2%, -2%);
  transition: all 300ms ease;
  z-index: 1;
}

.silhouette-card.stacked-two {
  position: absolute;
  transform: translate(-4%, -4%);
  transition: all 300ms ease;
  z-index: 2;
}

.silhouette-card.stacked-three {
  position: absolute;
  transform: translate(-6%, -6%);
  transition: all 300ms ease;
  z-index: 3;
}

.silhouette-card.stacked-four {
  position: absolute;
  transform: translate(-8%, -8%);
  transition: all 300ms ease;
  z-index: 4;
}

.silhouette-card.stacked-five {
  position: absolute;
  transform: translate(-10%, -10%);
  transition: all 300ms ease;
  z-index: 5;
}

.silhouette-card-image-top img {
  height: 100%;
  width: 100%;
}

.silhouette-card-image-bottom img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .silhouette-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 299px;
    width: 150px;
    margin: 0;
    padding: 0;
  }
  .silhouette-card-image-top img {
    margin: 0;
    height: 150px;
    width: 150px;
  }
  .silhouette-card-image-bottom img {
    margin: 0;
    height: 150px;
    width: 150px;
  }
  canvas {
    margin-top: -7px;
  }
}

.claim-area-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5em;
  box-shadow: 0px 0px 5px #333;
  width: 17%;
  background-color: #000;
  min-height: calc(600px - 2rem);
  max-height: calc(600px - 2rem);
  transition: all 300ms ease;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .claim-area-right {
    min-width: 90%;
    width: 90%;
    padding: 0;
  }
}

.claim-area-right-title {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: default;
  color: #333;
}

.claim-area-right-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.claim-area-right-info p {
  margin: 0.8rem;
}

.myButts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(100vh - 3rem);
  margin: 1rem;
}

@media screen and (max-width: 800px) {
  .myButts {
    margin: 0.5rem;
    max-width: 90vw;
  }
}

.buttCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5em;
  min-height: 310px;
  transition: all 300ms ease;
  cursor: pointer;
  background-color: #000;
}

.buttCard:hover {
  transform: scale(1.1);
  transition: all 300ms ease;
}

.buttCardTitle {
  font-family: "Permanent Marker", cursive;
  font-size: 1.5rem;
  font-weight: bold;
  color: #d6b33a;
  margin: 0.5rem;
  cursor: default;
  background-color: #111111;
  padding: 0 1rem;
  border-radius: 0.5em;
  border: 1px solid #d6b33a;
}

.buttGrid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.myButtsContent {
  background-color: #111;
  padding: 2rem;
  border-radius: 0.5em;
  box-shadow: 0px 0px 5px #333;
  margin: 2rem;
  width: 75vw;
}

.buttModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 100vh;
  z-index: 99;
}

.buttModalClose {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.2em;
  /* border: 1px solid white; */
  cursor: pointer;
  /* background-color: red; */
  opacity: 0.5;
}

.buttModalBold {
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "Permanent Marker", cursive;
  color: #d6b33a;
}

.traits {
  width: 220px;
}

.traits a:hover {
  /* color: #d6b33a; */
  text-shadow: none;
  transition: none;
}

.traits a {
  font-family: "REM", sans-serif;
}

.trait-value {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0.25rem;
}

@media screen and (max-width: 800px) {
  .trait-value {
    align-items: center;
  }
}

.buttModalTitle {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.5rem;
  color: #d6b33a;
  font-family: "Permanent Marker", cursive;
}

.buttModalCloseInner {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.traits-values {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #222;
  border-radius: 0.5em;
  min-width: 185px;
}

.buttModal {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 80vh;
  transform: translate(-50%, -50%);
  background-color: #111;
  border: 3px solid #eee;
  padding: 1rem;
  border-radius: 0.5em;
  z-index: 100;
  padding-bottom: 5rem;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

@media screen and (max-width: 800px) {
  .buttModal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    padding: 0;
    transform: translate(0, 0);
    z-index: 100;
    overflow: hidden;
  }
  .traits {
    position: fixed;
    width: 95vw;
    height: 150px;
    bottom: 8rem;
    overflow: hidden;
  }
  .buttModalBold {
    font-size: 0.8rem;
  }
  .traits-values {
    font-size: 0.7rem;
    height: 100px;
    overflow: hidden;
    justify-content: space-around;
  }
  .buttModalContent {
    box-sizing: border-box;
    position: fixed;
    width: 99vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: calc(100vh - 230px);
  }
  .buttModalTitle {
    position: fixed;
    top: 0;
    font-size: 2rem;
    font-weight: bold;
    margin: 0.5rem;
    color: #d6b33a;
    font-family: "Permanent Marker", cursive;
  }
}

.horizontalContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.verticalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.buttModalImage {
  padding: 0.5rem;
  margin: 0.5rem;
  height: 40vh;
  max-height: 40vw;
  width: 40vh;
  max-width: 40vw;
  padding: 0.5rem calc(5vh + 0.5rem);
}

.buttModalImage.fullBody {
  padding: 0.5rem calc(12.5vh + 0.5rem);
  margin: 0.5rem;
  height: 50vh;
  max-height: 50vw;
  width: 25vh;
  max-width: 25vw;
}

.buttModalImage.fullBody.mobile {
  height: 100vw;
  max-height: 100vw;
  width: 50vw;
  max-width: 50vw;
}

.buttModalImage.rexRoar {
  padding: calc((12 / 19 * 50vh / 2) + 0.5rem) 0.5rem;
  margin: 0.5rem;
  height: calc(12 / 19 * 50vh);
  width: 50vh;
  max-height: 50vw;
  max-width: 50vw;
}

.buttModalImage.rexRoar.mobile {
  margin: 0.5rem;
  height: calc(
    12 / 19 * 90vw
  ); /* Height maintains the 19:12 aspect ratio based on the width */
  width: 90vw; /* Set width relative to 90% of the viewport width */
  max-height: 90vw; /* Optional, adjust or remove as needed */
  max-width: 90vw; /* Optional, adjust or remove as needed */
}

.buttModalImage.fullRes {
  padding: 0.5rem;
  margin: 0.5rem;
  height: 50vh;
  max-height: 50vw;
  width: 50vh;
  max-width: 50vw;
}

.buttModalImage.fullRes.mobile {
  height: 90vw;
  max-height: 90vw;
  width: 90vw;
  max-width: 90vw;
}

.buttModalImage.mobile {
  padding: 0.5rem;
  margin: 0.5rem;
  margin-top: 5rem;
  height: 75vh;
  max-height: 75vw;
  width: 75vh;
  max-width: 75vw;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem;
  height: 50vh;
  max-height: 50vw;
  width: 50vh;
  max-width: 50vw;
}

.claim-loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem;
}

.loading-message {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.loading {
  animation: loading 1s infinite linear;
  border: 5px solid #eee;
  border-top: 5px solid #333;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  max-width: 500px;
  border-radius: 0.5em;
  background-color: #333;
  color: white;
  z-index: 0;
  transition: all 300ms ease;
  overflow-wrap: anywhere;
  overflow: hidden;
}

.signature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  max-width: 500px;
  border-radius: 0.5em;
  background-color: #333;
  color: white;
  z-index: 0;
  transition: all 300ms ease;
  overflow-wrap: anywhere;
  overflow: hidden;
}

#walletButton {
  max-height: 2rem;
  line-height: 0.8rem;
}

.quote {
  background-color: #111;
  padding: 1rem;
  border-radius: 0.5em;
  box-shadow: 0 0 3px #d6b33a;
  font-family: "Permanent Marker", cursive;
  font-size: 1.2rem;
  color: #d6b33a;
}

@media screen and (max-width: 800px) {
  .quote {
    font-size: 1rem;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropbtn {
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
  color: #eee;
  background-color: inherit;
  font-family: "Permanent Marker", cursive;
  margin: 0;
  padding: 0;
  transition: all 300ms ease;
}

.dropdown .dropbtn:hover {
  text-shadow: 3px 1px 0px #ff2b06, -3px -1px 0px #00caf8;
}

.dropdown .dropbtn.active {
  text-shadow: 10px 2px 0px #ff2b06, -10px -2px 0px #00caf8;
}

.dropdown .dropdown-content {
  display: none;
  position: fixed;
  background-color: #1a1a1a;
  min-width: 100px;
  box-shadow: 0px 0px 5px #eee;
  border-radius: 0.5em;
  padding: 0.5rem;
  z-index: 10;
  transition: all 300ms ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.dropdown .dropdown-content.show {
  display: block;
  animation: fadeIn 300ms ease;
}

.dropdown-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.dropdown .dropdown-content a {
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
  color: #eee;
  background-color: inherit;
  font-family: "Permanent Marker", cursive;
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: block;
}

.dropdown .dropdown-content a:hover {
  text-shadow: 1.5px 1.5px 3px #ff2b06, -1.5px -1.5px 3px #00caf8;
}

@keyframes zoom-in-and-out {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.zoomy {
  animation: zoom-in-and-out 1s infinite;
}

.threeDeeDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 2rem;
  max-width: 500px;
  border-radius: 0.5em;
  background-color: white;
  color: black;
  z-index: 0;
  transition: all 300ms ease;
  overflow-wrap: anywhere;
  overflow: hidden;
  box-shadow: 5px 5px 3px #ff2b06, -5px -5px 3px #00caf8;
}

.threeDeeDiv::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/FX13_3d.svg");
  opacity: 0.35;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.claim-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #111;
  border: 3px solid #eee;
  padding: 2rem;
  border-radius: 1rem;
  z-index: 100;
}

.card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5em;
  background-color: #333;
  color: white;
  transition: all 300ms ease;
}

.mint-announcement {
  width: 50%;
  background-color: #111;
  padding: 0.5rem;
  padding-bottom: 2rem;
  border-radius: 0.5em;
  box-shadow: 0 0 3px #d6b33a;
  font-family: "Permanent Marker", cursive;
  font-size: 1.2rem;
  /* color: #d6b33a; */
  margin: 1rem;
}

@media screen and (max-width: 800px) {
  .mint-announcement {
    width: 90%;
    font-size: 1rem;
  }
}
