:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: 'Permanent Marker', cursive;
  background-color: white;
  color: #555;
  cursor: pointer;
  box-shadow: 5px 5px 5px #ff2b06, -5px -5px 5px #00caf8;
  transition: box-shadow 300ms;
}
button:hover {
  box-shadow: -5px -5px 5px #ff2b06, 5px 5px 5px #00caf8;
  transition: box-shadow 300ms;
}
/* button:hover {
  border-color: #00caf8;
} */
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:active {
  box-shadow: -10px -10px 5px #ff2b06, 10px 10px 5px #00caf8;
  transition: box-shadow 300ms;
}